// Place all the styles related to the flashcards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pink: #FA0E6A;

body {
  background: #EFEFEF;
}

.flashcard {
  .container {
    transition: top 2s ease-in-out;

    position: relative;
    right: 50%;
    padding: 50px 20px;
    background: #FFF;
    text-align: center;
    max-width: 450px;
    min-height: 450px;
    max-height: 600px;
    margin: 80px auto;
    box-shadow: 0px 5px 5px lightgray;

    img {
      margin: 30px;
      width: 300px;
      height: 300px;
    }
  }

  left: 50%;
  position: absolute;
  z-index: -1;
}

.position-0 {
  top: -800px;
}

.position-1 {
  top: 0px;
}

.position-2 {
  top: 800px;
}

.flashcard-container {
  text-align: center;
}

.more-info {
  display: none;
}

.recollection-buttons {
  margin-top: 20px;

  form {
    display: inline;
    margin: 3px;
  }
}

.guess {
  text-align: center;
  font-size: 2em;
  width: 300px;
  padding: 2px;
  margin-bottom: 15px;
}
