// Place all the styles related to the flashcards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pink: #FA0E6A;
$white: #FFFFFF;
$grey: #7D7D7D;

body {
  background: #EFEFEF;
}

.flashcard {
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

  position: absolute;
  left: 0;
  right: 0;

  min-height: 350px;
  max-height: 600px;

  max-width: 400px;
  min-width: 300px;
  margin: 50px auto;

  padding: 50px 10px;
  background: $white;
  text-align: center;

  box-shadow: 0px 5px 5px lightgray;

  img {
    margin: 20px 20px 0 20px;
    width: 200px;
    height: 200px;
  }

  z-index: -1;
}

.staff-position {
  color: $grey;
}

.position-0 {
  top: -800px;
  transform: scale(0.4);
}

.position-1 {
  filter: opacity(100%);
  top: 0px;
  transform: scale(0.85);
}

.position-2 {
  top: 800px;
  transform: scale(0.4);
}

.flashcard-container {
  text-align: center;
}

.more-info {
  display: none;

  div {
    padding: 6px;

    h2.staff-member-name {
      margin: 0;
      margin-top: 8px;
      font-size: 2em;
    }

    h3.staff-member-position {
      margin: 0;
      font-size: 1em;
      color: $grey;
    }
  }
 }

  .recollection-buttons {
    margin-top: 20px;

    form {
      display: inline;
      margin: 3px;
    }
  }

  .name {
    text-align: center;
    font-size: 2em;
    padding: 2px;
    margin-bottom: 15px;
  }

.score-1 {
  color: darken($pink, 40%);
}

.score-2 {
  color: darken($pink, 30%);
}

.score-3 {
  color: darken($pink, 20%);
}

.score-4 {
  color: darken($pink, 10%);
}

.score-5 {
  animation: fancy 0.3s 2;
  color: darken($pink, 0%);
}

.guess {
  width: 250px;
  margin-top: -2px;
}

input[type="text"] {
  border: 1px solid #eee;
  margin: 10px;
  padding: 5px;
  transition: all .2s;
}

input[type="text"]:focus {
  border-color: #dddddd;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px $grey;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px $grey;
}  


button {
  background-color: $white;
  border-radius: 25px;

  border: 1px solid $pink;
  display: inline-block;
  cursor: pointer;
  color: $pink;
  font-size: 23px;
  font-weight: 300px;
  padding: 12px 40px;
  text-decoration: none;

  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: background-color;
  transition-timing-function: ease;
}

.clicked {
  background-color: $pink;
  color: $white;
}

button:hover {
  background-color: $pink;
  color: $white
}
button:active {
  position:relative;
  top:1px;
}

@keyframes fancy {

  0% {
    transform: translate3d(0px, 0px, 0px);
    font-size: 100%;
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(0px, -10px, 0px);
    font-size: 150%;
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    font-size: 100%;
  }

}

.new-badge {
  width: 260px;
  height: 265px;
  margin-bottom: -270px;

  img {
    width: 60px;
    height: 60px;
    opacity: 0.75;
  }
}
