<!DOCTYPE html>
<html>
<head>
  <title>Powerpeople</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://use.typekit.net/c/331df9/1w;omnes-pro,2,X31:T:n1,X33:T:n2,X35:T:n3,X37:T:n4/l?3bb2a6e53c9684ffdc9a98f0195b2a62dead35e9781e955068748d6b5f5a8bfdb420fbaf7fd72d1e265d1986f9e546ec51c4cb8198c336d7be12967306db0bc58e200a28d31a0a9fe94fecd0dff2e12c43775b13af13204ba145a2f08409ab5581c9799f4e95059a9e4ad95859a03a6ae154b619ce101e020403be79fe8f16ae8d6dbd6aac30843d506bc4dd182fe30bbd2d6be7e2ff97b47964c07cfb8792626e64d2ff319148728c8823d1f303bfe16c3f39cbea1ce52d8d6b8e0d872108d6ee4d73c9bc113f47b362c853e454dcd54907bf3f5c7055b64cf43dda2791696cc23d1524be517667240a576d641f20094ce093476201e12bae195d28e89b3c795868849c24eb44" media="all">
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h2 class='title'></h2>
</header>

<%= yield %>

</body>
</html>
